/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Italic.eot");
  src: url("../fonts/Inter/Inter-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter/Inter-Italic.woff") format("woff"), url("../fonts/Inter/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src: url("../fonts/Dm/DMSans-9ptItalic.eot");
  src: url("../fonts/Dm/DMSans-9ptItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Dm/DMSans-9ptItalic.woff2") format("woff2"), url("../fonts/Dm/DMSans-9ptItalic.woff") format("woff"), url("../fonts/Dm/DMSans-9ptItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src: url("../fonts/Dm/DMSans-9ptRegular.eot");
  src: url("../fonts/Dm/DMSans-9ptRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dm/DMSans-9ptRegular.woff2") format("woff2"), url("../fonts/Dm/DMSans-9ptRegular.woff") format("woff"), url("../fonts/Dm/DMSans-9ptRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66666667;
  letter-spacing: -0.02rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66666667;
  letter-spacing: -0.02rem;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s ease, transform 2s ease;
}

button:active {
  transform: scale(0.55);
}

.btn {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1rem;
  line-height: 1.277777778;
  border: none;
  border-radius: 8px;
}
.btn--small {
  padding-top: 16px;
  padding-bottom: 16px;
}
.btn--medium {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
}
.btn--large {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn--yellow {
  background-color: #FFE492;
  color: #043873;
}
.btn--border-yellow {
  background-color: #FFFFFF;
  color: #212529;
  border: 1px solid #FFE492;
}
.btn--blue {
  background-color: #4F9CF9;
  color: #FFFFFF;
}
.btn--arrow {
  display: flex;
  align-items: center;
}
.btn--arrow::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 18px;
  background: url("../assets/icon/arrow-right-for-button.svg") center/contain no-repeat;
}
.btn:hover {
  opacity: 0.8;
  transition: opacity 1s ease;
}

.apps {
  background-color: #043873;
}
.apps__image {
  background-color: #043873;
}

.customize__container {
  color: #212529;
}

.free-trial {
  background-color: #043873;
}
.free-trial__container {
  display: block;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
.free-trial__app-icon {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.free-trial__text {
  margin-bottom: 40px;
}
.free-trial__under-text {
  margin-top: 40px;
}
.free-trial__button {
  margin-bottom: 40px;
  margin: 0 auto;
}

.hero {
  background: url("../assets/img/hero/hero-bg.png") 100% 65% no-repeat;
  background-color: #043873;
}
.hero__title {
  font-size: 3.555555556rem;
  font-weight: 700;
}

.block__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  color: #FFFFFF;
}
.block__body {
  width: 656px;
}
.block__title {
  margin-bottom: 30px;
}
.block__text {
  margin-bottom: 60px;
}
.block__image {
  width: 824px;
  height: 549px;
  background-color: #A7CEFC;
}

.our-sponsors__container {
  display: block;
  place-items: center;
}
.our-sponsors__body {
  text-align: center;
  width: 100%;
}
.our-sponsors__images {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.pricing__header {
  text-align: center;
  margin-bottom: 60px;
}
.pricing__cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.card {
  width: 472px;
  padding: 40px 44px;
  box-sizing: border-box;
  border: 1px solid #FFE492;
  border-radius: 10px;
}
.card__title {
  font-size: 1.333333333rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 25px;
}
.card__pricing {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.card__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.277777778;
  margin-bottom: 25px;
}
.card__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.card__item::before {
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 18px;
  background: url("../assets/icon/list/check.svg") center/contain no-repeat;
  margin-right: 19px;
  flex-shrink: 0;
}
.card__link {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.111111111;
  color: #212529;
}

.active-checked {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.active-checked::before {
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 18px;
  background: url("../assets/icon/list/yellow-check.svg") center/contain no-repeat;
  margin-right: 19px;
  flex-shrink: 0;
}

.active-pricing-card {
  width: 472px;
  padding: 80px 44px;
  background-color: #043873;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}

.active-pricing-card-price {
  color: #FFE492;
}

.active-pricing-card-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.277777778;
  color: #FFFFFF;
}

.testimonial__container {
  display: block;
  text-align: center;
}
.testimonial__cards {
  display: flex;
  text-align: left;
  margin-top: 60px;
  gap: 32px;
  margin-bottom: 60px;
}

.card-testimonial {
  background-color: #4F9CF9;
  border: none;
  border-radius: 10px;
  padding: 60px 40px;
}
.card-testimonial__image {
  margin-bottom: 32px;
}
.card-testimonial__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.card-testimonial__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.card-testimonial__name-box {
  display: flex;
  gap: 42px;
  margin-top: 60px;
}

.name-box__name {
  font-size: 1.333333333rem;
  font-weight: 600;
  line-height: 36px;
  color: #043873;
  margin-bottom: 15px;
}
.name-box__position {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

.slider__navigation {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.slider__navigation-item {
  position: relative;
  padding-right: 12px;
}
.slider__navigation-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #4F9CF9;
}

.active-slider-navigation::after {
  background-color: #043873;
}

.active {
  color: #212529;
  background-color: #FFFFFF;
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.active-line {
  background-color: #212529;
}

.active-text {
  color: #212529;
}

.use {
  background-color: #043873;
}
.use__container {
  color: #FFFFFF;
}

.work {
  padding: 140px 0;
}
.work__container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.block__image-work {
  width: 748px;
  height: 547px;
  background-color: #A7CEFC;
}

.your-data__image {
  background-color: #FFFFFF;
}

.your-work {
  background-color: #043873;
}
.your-work__container {
  display: block;
  place-items: center;
}
.your-work__body {
  text-align: center;
  width: 1064px;
}
.your-work__button {
  margin: 0 auto;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  background-color: #043873;
  padding: 16px 0;
}
.header__container {
  display: flex;
}
.header__navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.header__buttons {
  display: flex;
  gap: 24px;
}
.logo__img {
  width: 191px;
  height: 34px;
}

.list__item {
  display: flex;
  gap: 32px;
}
.list__link {
  display: block;
  position: relative;
  padding-right: 34px;
  font-family: "DM Sans 9pt", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.277777778;
  color: #FFFFFF;
}
.list__link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  width: 13px;
  height: 6px;
  color: #FFFFFF;
  background: url("../assets/icon/arrow-down-white.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.list__link:hover::after {
  transform: scale(1.1);
}
.list__link:hover {
  text-decoration: underline;
}

.footer {
  background-color: #043873;
  color: #FFFFFF;
  padding-top: 140px;
  padding-bottom: 32px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__body {
  display: flex;
  gap: 100px;
  margin-bottom: 67px;
}
.footer__image {
  width: 191px;
  height: 34px;
  margin-bottom: 15px;
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  max-width: 240px;
  line-height: 1.66666667;
  margin-bottom: 23px;
}
.footer__navigation {
  width: 205px;
}
.footer__navigation-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__link {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.111111111;
  color: #FFFFFF;
}
.footer__try {
  width: 259px;
  font-size: 1.555555556rem;
  font-weight: 700;
  line-height: 2;
}
.footer__try-title {
  margin-bottom: 23px;
}
.footer__try-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  margin-bottom: 23px;
}
.footer__line {
  position: relative;
  margin-bottom: 32px;
}
.footer__line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(46, 78, 115);
}
.footer__copy-rigth {
  display: flex;
  justify-content: space-between;
}

.copy-right__list {
  display: flex;
  gap: 60px;
}
.copy-right__english {
  display: block;
  position: relative;
  padding-right: 34px;
  padding-left: 30px;
}
.copy-right__english::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  width: 13px;
  height: 6px;
  color: #FFFFFF;
  background: url("../assets/icon/arrow-down-white.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.copy-right__english::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 19px;
  height: 19px;
  background: url("../assets/icon/footer/earth-icon/earth-icon.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.copy-right__social {
  display: flex;
  gap: 32px;
}
.color-white {
  color: #FFFFFF;
}

.color-dark {
  color: #212529;
}

.padding-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.mr-60px {
  margin-right: 60px;
}

.ml-auto {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */