/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Italic.eot");
  src: url("../fonts/Inter/Inter-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter/Inter-Italic.woff") format("woff"), url("../fonts/Inter/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src: url("../fonts/Dm/DMSans-9ptItalic.eot");
  src: url("../fonts/Dm/DMSans-9ptItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Dm/DMSans-9ptItalic.woff2") format("woff2"), url("../fonts/Dm/DMSans-9ptItalic.woff") format("woff"), url("../fonts/Dm/DMSans-9ptItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src: url("../fonts/Dm/DMSans-9ptRegular.eot");
  src: url("../fonts/Dm/DMSans-9ptRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dm/DMSans-9ptRegular.woff2") format("woff2"), url("../fonts/Dm/DMSans-9ptRegular.woff") format("woff"), url("../fonts/Dm/DMSans-9ptRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -2%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s ease, transform 2s ease;
}

button:active {
  transform: scale(0.55);
}

.btn {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4F9CF9;
  padding: 20px;
  padding-left: 40px;
  padding-right: 64px;
  line-height: 23px;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 8px;
}

.btn-arrow-21::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 21px;
  width: 12px;
  height: 12px;
  background: url("../assets/icon/arrow-right-for-button.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.btn-arrow-21:hover {
  opacity: 0.8;
  transition: opacity 1s ease;
}

.btn-arrow-41::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 41px;
  width: 12px;
  height: 12px;
  background: url("../assets/icon/arrow-right-for-button.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.btn-arrow-41:hover {
  opacity: 0.8;
  transition: opacity 1s ease;
}

.customize__container {
  color: #212529;
}

.hero {
  background: url("../assets/img/hero/hero-bg.png") 100% 65% no-repeat;
  background-color: #043873;
}
.hero__title {
  font-size: 64px;
  font-weight: 700;
}

.block__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  color: #FFFFFF;
}
.block__body {
  width: 656px;
}
.block__title {
  margin-bottom: 30px;
}
.block__text {
  margin-bottom: 60px;
}
.block__buttun {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4F9CF9;
  padding: 20px;
  padding-left: 20px;
  padding-right: 41px;
  line-height: 23px;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 8px;
}
.block__image {
  width: 824px;
  height: 549px;
  background-color: #A7CEFC;
}

.pricing__header {
  text-align: center;
  margin-bottom: 60px;
}
.pricing__cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.pricing__personal {
  padding: 80px 44px;
  background-color: #043873;
  border-radius: 10px;
  color: #FFFFFF;
}
.card {
  padding: 40px 44px;
  box-sizing: border-box;
}
.card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 25px;
}
.card__pricing {
  display: block;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}
.card__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 25px;
}
.card__list {
  margin-bottom: 25px;
}
.card__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.card__item::before {
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../assets/icon/list/check.svg") center/contain no-repeat;
  margin-right: 19px;
}
.card__link {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}

.btn-price {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4F9CF9;
  padding: 16px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 23px;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #212529;
  border: 1px solid #FFE492;
}

.btn-secondary-dark {
  background-color: #4F9CF9;
  color: #FFFFFF;
  border: none;
}

.border--pricing {
  border: 1px solid #FFE492;
  border-radius: 10px;
}

.checked {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.checked::before {
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../assets/icon/list/yellow-check.svg") center/contain no-repeat;
  margin-right: 19px;
}

.use {
  background-color: #043873;
}
.use__container {
  color: #FFFFFF;
}

.work {
  padding: 140px 0;
}
.work__container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.block__image-work {
  width: 748px;
  height: 547px;
  background-color: #A7CEFC;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  background-color: #043873;
  padding: 16px 0;
}
.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.header__buttons {
  display: flex;
  gap: 24px;
}
.header__button-login {
  padding: 18.5px 40px;
  background-color: #FFE492;
  color: #043873;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  border: none;
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.header__button-login:hover {
  opacity: 0.8;
  transition: opacity 1s ease;
}
.header__button-try {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4F9CF9;
  padding: 18.5px;
  padding-left: 24px;
  padding-right: 47px;
  line-height: 23px;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 8px;
}

.logo__img {
  width: 191px;
  height: 34px;
}

.list__item {
  display: flex;
  gap: 32px;
}
.list__link {
  display: block;
  position: relative;
  padding-right: 34px;
  font-family: "DM Sans 9pt", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
  letter-spacing: 1.65px;
}
.list__link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  width: 13px;
  height: 6px;
  color: #FFFFFF;
  background: url("../assets/icon/arrow-down-white.svg") center/contain no-repeat;
  transform: translateY(-50%);
}
.list__link:hover::after {
  transform: scale(1.1);
}
.list__link:hover {
  text-decoration: underline;
}

.color-white {
  color: #FFFFFF;
}

.color-dark {
  color: #212529;
}

.padding-140 {
  padding: 140px 0;
}/*# sourceMappingURL=main.css.map */