
@use '../base/variables' as *;
@use '../base/mixin' as *;

.footer {
    background-color: $primaryDark;
    color: $secondaryWhite;
    padding-top: 140px;
    padding-bottom: 32px;
		&__container {
            display: flex;
            flex-direction: column;
		}

		&__body {
            display: flex;
            gap: 100px;
            margin-bottom: 67px;
		}

		&__logo {
            
		}

        &__logo-link{
            
        }

		&__image {
            width: 191px;
            height: 34px;
            margin-bottom: 15px;
		}

		&__text {
            @include size-weight($fontSize, 400);
            max-width: 240px;
            line-height: 30px;
            margin-bottom: 23px;
		}

		&__navigation {
            width: 205px;
		}

        &__navigation-title{
            @include size-weight($fontSize, 700);
            margin-bottom: 16px;

        }

		&__list-product {
		}

		&__item {
		}

        &__link{
            @include size-weight($H6FontSize, 400);
            line-height: 40px;
            color: $secondaryWhite;
        }

		&__list-resources {
		}

		&__list-company {
		}

		&__try {
            max-width: 259px;
            @include size-weight($H5FontSize, 700);
            line-height: 36px;
		}

		&__try-title {
            margin-bottom: 23px;
		}

		&__line {
            position: relative;
            margin-bottom: 32px;

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $secondaryBlack;
            }
		}

		&__copy-rigth {
            display: flex;
            justify-content: space-between;
		}
}

.copy-right {

		&__navigation {
		}

		&__list {
          display: flex;
          gap: 60px;
		}

		&__link {
		}

		&__item {
		}

		&__english {
		}

		&__social {
            display: flex;
            gap: 32px;
		}

		&__icons {
		}
}
