
@use '../base/variables' as *;
@use '../base/mixin' as *;
@use "sass:map";


.footer {
    background-color: $primaryDark;
    color: $secondaryWhite;
    padding-top: 140px;
    padding-bottom: 32px;
		&__container {
            display: flex;
            flex-direction: column;
		}

		&__body {
            display: flex;
            gap: 100px;
            margin-bottom: 67px;
		}

		&__logo {
            
		}

        &__logo-link{
            
        }

		&__image {
            width: 191px;
            height: 34px;
            margin-bottom: 15px;
		}

		&__text {
            @include size-weight($fontSize, 400);
            max-width: 240px;
            line-height: $lineHeight;
            margin-bottom: 23px;
		}

		&__navigation {
            width: 205px;
		}

        &__navigation-title{
            @include size-weight($fontSize, 700);
            margin-bottom: 16px;

        }

		&__list-product {
		}

		&__item {
		}

        &__link{
            @include size-weight($H6FontSize, 400);
            line-height: $ParagraphP3RegularLineHeight;
            color: $secondaryWhite;
        }

		&__list-resources {
		}

		&__list-company {
		}

		&__try {
                  width: 259px;
                  @include size-weight($H5FontSize, 700);
                  line-height: $ParagraphP1SemiBoldLineHeight;
		}

		&__try-title {
                  margin-bottom: 23px;
		}

            &__try-text{
                  @include size-weight($H6FontSize, 400);
                  margin-bottom: 23px;
            }

            &__try-button{
            }

		&__line {
            position: relative;
            margin-bottom: 32px;

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $secondaryDark;
            }
		}

		&__copy-rigth {
              display: flex;
              justify-content: space-between;
		}
}

.copy-right {

      &__navigation {
      }

      &__list {
       display: flex;
        gap: 60px;
      }

      &__link {
            @include size-weight($H6FontSize, 400);
      } 

      &__item {
      }

      &__english {
        display: block;
        position: relative;
        padding-right: 34px;
        padding-left: 30px;
        @include arrow-menu();
        &::before{
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 19px;
          height: 19px;
          background: url('../assets/icon/footer/earth-icon/earth-icon.svg') center / contain no-repeat;
          transform: translateY(-50%);
        }
      }

      &__social {
        display: flex;
        gap: 32px;
      }

      &__icons {
      }
}

@media (max-width: map.get($breakpoints, lg)) {
  .copy-right__list {
    gap: 20px;
  }
}
