@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use "sass:map";               // Import map functions

// =======================================
// Container Styles
// =======================================
.container {
  max-width: 1544px;
  margin: 0 auto;
  padding: 0 32px;
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- MD (≤ 768px) ----------
@include media (md)
 {
  .container {
    padding: 0 20px;
  }
}
// ---------- SM (≤ 320px) ----------
@include media (sm) {

  .container {
    padding: 0 16px;
  }
}
