@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use "sass:map";               // Import map functions

// =======================================
// Header Section Styles
// =======================================
.header {
  background-color: $primaryDark;

  &__container {
    display: flex;
    align-items: center;
    height: 92px;
  }

  &__logo {
  }

  &__navigation {
    margin-right: 60px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button-login {
  }

  &__button-try {
  }
}

//logo
.logo {
  &__img {
    width: 191px;
    height: 34px;
  }
}

//list
.list {
  &__item {
    display: flex;
    gap: 32px;
  }

  &__link {
    display: block;
    position: relative;
    padding-right: 34px;
    font-family: $dm;
    @include size-weight($fontSize, 500);
    line-height: $ParagraphP2MediumLineHeight;
    color: $secondaryWhite;
    @include arrow-menu();

    &:hover::after {
      transform: scale(1.1);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

//burger-menu
.burger__menu {
  display: none;
  position: relative;
  width: 42px;
  height: 34px;
  cursor: pointer;
  margin-left: 20px;

  span,
  span::before,
  span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: $secondaryWhite;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  span::before {
    top: -13px;
  }

  span::after {
    top: 13px;
  }

  .burger__checkbox {
    display: none;

    &:checked ~ span {
      background: transparent;
    }

    &:checked ~ span::before {
      transform: translateY(13px) rotate(45deg);
    }

    &:checked ~ span::after {
      transform: translateY(-13px) rotate(-45deg);
    }
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@media (max-width: map.get($breakpoints, xl)) {
  .header__navigation {
    margin-left: 15px;
    margin-right: 15px;
  }

  .list__item {
    gap: 20px;
  }
}

// ---------- LG (≤ 1152px) ----------
@media (max-width: map.get($breakpoints, lg)) {
  .header {
    &__navigation {
      display: none;
    }

    &__buttons {
      margin-left: auto;
    }
  }

  .burger__menu {
    display: block;
  }
}

// ---------- MD (≤ 768px) ----------
@media (max-width: map.get($breakpoints, md)) {
  .header__buttons {
    display: none;
  }

  .burger__menu {
    margin-left: auto;
  }
}

// ---------- SM (≤ 320px) ----------
@media (max-width: map.get($breakpoints, md)) {
  .logo {
    &__img {
      width: 133px;
      height: 24px;
    }
  }
}
