
@use '../base/variables' as *;
@use '../base/mixin' as *;

.header {
  background-color: $primaryDark;
  padding: 16px 0;

  &__container {
    @include flex-center-between(40px);
  }

  &__logo {
  }

  &__navigation {
    @include flex-center-between(60px);
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button-login {
    

    
  }

  &__button-try {
    
  }
}

.logo {
  &__img{
    width: 191px;
    height: 34px;
  }
}

.list {
  &__item {
    display: flex;
    gap: 32px;
  }

  &__link {
    display: block;
    position: relative;
    padding-right: 34px;
    font-family: $dm;
    @include size-weight(16px, 500);
    line-height: 23px;
    color: $secondaryWhite;
    letter-spacing: 1.65px;

    &::after{
      position: absolute;
      content: '';
      top: 50%;
      right: 5px;
      width: 13px;
      height: 6px;
      color: $secondaryWhite;
      background: url('../assets/icon/arrow-down-white.svg') center / contain no-repeat;
      transform: translateY(-50%);
    }

    &:hover::after{
      transform: scale(1.1);
    }

    &:hover{
      text-decoration: underline;
    }
  }
}
