
@use '../base/variables' as *;
@use '../base/mixin' as *;

.header {
  background-color: $primaryDark;
  

  &__container {
    display: flex;
    align-items: center;
    height: 92px;
  }

  &__logo {
  }

  &__navigation {
    @include flex-center-between(60px);
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__button-login {
  }

  &__button-try {
  }
}

.logo {
  &__img{
    width: 191px;
    height: 34px;
  }
}

.list {
  &__item {
    display: flex;
    gap: 32px;
  }

  &__link {
    display: block;
    position: relative;
    padding-right: 34px;
    font-family: $dm;
    @include size-weight($fontSize, 500);
    line-height: $ParagraphP2MediumLineHeight;
    color: $secondaryWhite;
    @include arrow-menu();

    &:hover::after{
      transform: scale(1.1);
    }

    &:hover{
      text-decoration: underline;
    }
  }
}
