
@use '../base/variables' as *;
@use '../base/mixin' as *;

body{
  font-family: $inter;
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

h1{
  @include size-weight($H1FontSize, 700);
  line-height:$H1LineHeight;
  letter-spacing: $letterSpacing;
}

h2{
  @include size-weight($H2FontSize, 700);
  line-height:$H2LineHeight;
  letter-spacing: $letterSpacing;
}

p{
  @include size-weight($fontSize, 400);
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 1s ease, transform 2s ease;
}

button:active {
  transform: scale(0.55);
}
