
@use '../base/variables' as *;

@mixin size-weight($size, $weight){
  font-size: $size;
  font-weight: $weight;
}

@mixin arrow-menu{
      &::after{
      position: absolute;
      content: '';
      top: 50%;
      right: 5px;
      width: 13px;
      height: 6px;
      color: $secondaryWhite;
      background: url('../assets/icon/arrow-down-white.svg') center / contain no-repeat;
      transform: translateY(-50%);
    }
}

@mixin flex-center-between($gap) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin checked ($url) {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    padding-left: 37px;

    &::before{
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 20px;
      height: 18px;
      background: $url;
      transform: translateY(-50%);
    }
}

@mixin underline-bg($background-url, $background-size, $background-position){
    background: $background-url;
    background-size: $background-size;
    background-position: $background-position
}

@mixin bg-element( $top, $left, $width, $height, $backgraound-url){
  position: relative;

  &::before{
  position: absolute;
  content: '';
  display: block;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: $backgraound-url;
  z-index: 0;
  }
}

@mixin image-block-parameters($max-width, $height){
    max-width: $max-width;
    width: 100%;
    height: $height;
}