@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter/regular/Inter-Regular.eot'), /* IE9 Compat Modes */
       url('../fonts/Inter/regular/Inter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Inter/regular/Inter-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Inter/regular/Inter-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url("../fonts/Inter/regular/Inter-Regular.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Inter/medium/Inter-Medium.eot'), /* IE9 Compat Modes */
       url('../fonts/Inter/medium/Inter-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Inter/medium/Inter-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Inter/medium/Inter-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url("../fonts/Inter/medium/Inter-Medium.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Inter/semibold/Inter-SemiBold.eot'), /* IE9 Compat Modes */
       url('../fonts/Inter/semibold/Inter-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Inter/semibold/Inter-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Inter/semibold/Inter-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url("../fonts/Inter/semibold/Inter-SemiBold.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Inter/bold/Inter-Bold.eot'), /* IE9 Compat Modes */
       url('../fonts/Inter/bold/Inter-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Inter/bold/Inter-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Inter/bold/Inter-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url("../fonts/Inter/bold/Inter-Bold.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}
