
// === Primary colors ===
$primary-dark: #043873;
$primary-light: #4F9CF9;

// === Secondary colors ===
$secondary-yellow: #FFE492;
$secondary-blue: #A7CEFC;
$secondary-white: #FFFFFF;
$secondary-black: #212529;
