
@use '../base/variables' as *;
@use '../base/mixin' as *;

.apps {
  background-color: $primaryDark;

  &__container {
  }
  
  &__image{
    width: 582px;
    height: 470px;
    background-color: $primaryDark;
  }
}
