
@use '../base/variables' as *;
@use '../base/mixin' as *;
@use "sass:map";


.apps {
  background: url('../assets/img/hero/hero-bg.png') center / 100% no-repeat;
  background-color: $primaryDark;

  &__container {
  }
  
  &__image{
    @include image-block-parameters(582px, 470px);
    background-color: none;
  }
}
