@use '../base/variables' as *;
@use '../base/mixin' as *;

.customize {
    
    &__container{
        color: $secondaryBlack;
    }

    &__image{
        width: 714px;
        height: 532px;
    }
}
