@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use "sass:map";               // Import map functions for breakpoints

// =======================================
// Customize Section Styles
// =======================================
.customize {
  &__container {
    color: $secondaryBlack;
  }

  &__block {
    flex-direction: row-reverse;
  }

  &__title {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -5%;
      width: 100%;
      height: 100%;
      background: url('../assets/img/bg-line/bg-line-main.png') no-repeat;
      background-position: 20% 105%;
      background-size: 60%;
      z-index: -1;
    }
  }

  &__image {
    @include image-block-parameters(714px, 532px);
    margin-right: 100px;
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@include media (xl) {
  .customize {
    &__title {
      &::after {
        background: url('../assets/img/bg-line/bg-line-md.png') no-repeat;
        background-position: 20% 105%;
      }
    }

    &__image {
      @include shink-grow-height(0 0 670px, 499px);
    }
  }
}

// ---------- LG (≤ 1152px) ----------
@include media (lg) {
  .customize {
    &__title {
      &::after {
        background-size: 90%;
      }
    }

    &__image {
      @include image-block-parameters(534px, 397px);
      flex: none;
    }
  }
}

// ---------- PLUS-MD (≤ 992px) ----------
@include media (plus-md) {
  .customize {
    &__title {
      &::after {
        width: 50%;
        left: 30%;
        background-size: 90%;
      }
    }

    &__image {
      @include image-block-parameters(600px, 500px);
      margin: 0 auto;
    }
  }
}

// ---------- MD (≤ 768px) ----------
@include media (md)
 {
  .block__container.customize__block {
    flex-direction: column-reverse;
  }

  .customize {
    &__image {
      @include image-block-parameters(557px, 388px);
      margin: 0 auto;
    }

    &__info {
      margin: 0 auto;
    }

    &__container {
      text-align: center;
      gap: 100px;
    }
  }
}

// ---------- SM (≤ 320px) ----------
@include media (sm) {

  .customize {
    &__title {
      &::after {
        width: 70%;
        left: 20%;
        background-size: 90%;
      }
    }

    &__image {
      @include image-block-parameters(284px, 198px);
    }

    &__reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
