@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use "sass:map";               // Import map functions for breakpoints

// =======================================
// Free Trial Section Styles
// =======================================
.free-trial {
  background-color: $primaryDark;

  &__container {
    display: block;
    text-align: center;
    max-width: 608px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 32px;
  }

  &__app-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__app-icon-item {
  }

  &__app-icon {
  }

  &__text {
    margin-bottom: 40px;
  }

  &__under-text {
    margin-top: 40px;
  }

  &__button {
    margin: 0 auto 40px auto;
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@media (max-width: map.get($breakpoints, xl)) {
  .free-trial__container {
    max-width: 608px;
  }
}

// ---------- LG (≤ 1152px) ----------
@media (max-width: map.get($breakpoints, lg)) {
  .free-trial__container {
    max-width: 608px;
  }
}

// ---------- MD (≤ 768px) ----------
@media (max-width: map.get($breakpoints, md)) {
  .free-trial {
    &__container {
      text-align: start;
      margin: 0;
    }

    &__app-icons {
      justify-content: left;
    }

    &__button {
      margin-left: 0;
    }
  }
}

// ---------- SM (≤ 320px) ----------
@media (max-width: map.get($breakpoints, sm)) {
  .free-trial {
    &__app-icon {
      width: 35px;
      height: 35px;
    }
  }
}
