
@use '../base/variables' as *;
@use '../base/mixin' as *;
@use "sass:map";


.free-trial {
    background-color: $primaryDark;

		&__container {
            display: block;
            text-align: center;
            width: 600px;
            margin: 0 auto;
		}

		&__app-icons {
            display: flex;
            justify-content: center;
            gap: 40px;
		}

		&__app-icon-item {
		}

        &__app-icon{
            
        }
        
        &__text{
            margin-bottom: 40px;
        }
        &__under-text{
            margin-top: 40px;
        }

        &__button{
            margin-bottom: 40px;
            margin: 0 auto;
        }
}
