
@use '../base/variables' as *;
@use '../base/mixin' as *;

.hero {
  background: url('../assets/img/hero/hero-bg.png') 100% 65% no-repeat;
  background-color: $primary-dark;

  &__title{
    @include size-weight(64px, 700);
  }
}

.block {

  &__container {
    @include flex-center-between(14px);
    color: $secondary-white;
  }

  &__body {
    width: 656px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__button {
    @include btn(20px, 20px, 41px);
  }
    
  &__image {
    width: 824px;
    height: 549px;
    background-color: $secondary-blue;
  }
}
