
@use '../base/variables' as *;
@use '../base/mixin' as *;

.hero {
  background: url('../assets/img/hero/hero-bg.png') 100% 65% no-repeat;
  background-color: $primaryDark;

  &__title{
    @include size-weight($H2FontSize, 700);
  }

  &__image{
    width: 824px;
    height: 549px;
  }
}

.block {

  &__container {
    @include flex-center-between(14px);
    color: $secondaryWhite;
  }

  &__body {
    width: 656px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__button {
    
  }
    
  &__image {
    background-color: $secondaryBlue;
  }
}
