
@use '../base/variables' as *;
@use '../base/mixin' as *;
@use "sass:map";


.our-sponsors {

  &__container {
    display: block;
    place-items: center;
  }

  &__body {
    text-align: center;
    width: 100%;
  }

  &__title{
    @include underline-bg(url('../assets/img/bg-line/bg-line.png') no-repeat, 30%, 65% 100%);
  }
  
  &__images{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  &__image{
  }
}
