
@use '../base/variables' as *;
@use '../base/mixin' as *;

.pricing {

  &__container {
  }
  &__header {
    text-align: center;
    margin-bottom: 60px;
  }
  &__cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  &__free {
  }

  &__personal {
    padding: 80px 44px;
    background-color: $primaryDark;
    border-radius: 10px;
    color: $secondaryWhite;
  }

  &__organization {
  }
}

.card {
  padding: 40px 44px;
  box-sizing: border-box;

  &__title {
    @include size-weight($ParagraphP1RegularFontSize, 600);
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__pricing {
    display: block;
    @include size-weight($H4FontSize, 700);
    margin-bottom: 25px;
  }

  &__text {
    @include size-weight($fontSize, 500);
    line-height: 23px;
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
      @include checked (url('../assets/icon/list/check.svg') center / contain no-repeat);
  }

  &__link {
    @include size-weight($H6FontSize, 400);
    color: $secondaryBlack;
  }
}

.border--pricing{
  border: 1px solid $secondaryYellow;
  border-radius: 10px;
}

.checked{
  @include checked (url('../assets/icon/list/yellow-check.svg') center / contain no-repeat);
}
