
@use '../base/variables' as *;
@use '../base/mixin' as *;
@use "sass:map";

.pricing {

  &__container {
  }

  &__header {
    text-align: center;
    margin-bottom: 60px;
  }

  &__title{
    @include underline-bg(url('../assets/img/bg-line/bg-line.png') no-repeat, 30%, 70% 100%);
  }
  
  &__cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  &__free {
  }

  &__personal {
  }

  &__organization {
  }
}

.card {
  width: 472px;
  padding: 40px 44px;
  box-sizing: border-box;
  border: 1px solid $secondaryYellow;
  border-radius: 10px;

  &__title {
    @include size-weight($ParagraphP1RegularFontSize, 600);
    line-height: $ParagraphP1SemiBoldLineHeight;
    margin-bottom: 25px;
  }

  &__pricing {
    display: block;
    @include size-weight($H4FontSize, 700);
    margin-bottom: 25px;
  }

  &__text {
    @include size-weight($fontSize, 500);
    line-height: $ParagraphP2MediumLineHeight;
    margin-bottom: 25px;
  }

  &__list {
  }

  &__item {
    @include checked (url('../assets/icon/list/check.svg') center / contain no-repeat);
  }

  &__link {
    @include size-weight($H6FontSize, 400);
    line-height: $ParagraphP3RegularLineHeight;
    color: $secondaryBlack;
  }
}

.active-checked{
  @include checked (url('../assets/icon/list/yellow-check.svg') center / contain no-repeat);
}

.active-pricing-card{
    width: 472px;
    padding: 80px 44px;
    background-color: $primaryDark;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    color: $secondaryWhite;
}
.active-pricing-card-price{
  color: $secondaryYellow;
}
.active-pricing-card-link{
  @include size-weight($fontSize, 500);
  line-height: $ParagraphP2MediumLineHeight;
  color: $secondaryWhite;
}

@media (max-width: map.get($breakpoints, xl)) {
  .card, .active-pricing-card {
    width: 437px;
  }
}