
@use '../base/variables' as *;
@use '../base/mixin' as *;

.testimonial {

		&__container {
            display: block;
            text-align: center;
		}

        &__title{
            @include underline-bg(url('../assets/img/bg-line/bg-line.png') no-repeat, 18% 140%, 75% 120%);
        }

		&__cards {
            display: flex;
            text-align: left;
            margin-top: 60px;
            gap: 32px;
            margin-bottom: 60px;
		}
}

.card-testimonial {
    background-color: $primaryLight;
    border: none;
    border-radius: 10px;
    padding: 60px 40px;

    
		&__image {
            margin-bottom: 32px;
		}

		&__text {
            @include size-weight($fontSize, 400);
            line-height: 30px;
            color: $secondaryWhite;
            margin-bottom: 40px;
		}

        &__line{
            display: block;
            width: 100%;
            height: 1px;
            background-color: $secondaryWhite;
        }

		&__name-box {
            display: flex;
            gap: 42px;
            margin-top: 60px;

		}
}
.name-box {

		&__avatar {
		}

		&__descriprion {
		}

		&__name {
            display: block;
            @include size-weight($ParagraphP1RegularFontSize, 600);
            line-height: 36px;
            color: $primaryDark;
            margin-bottom: 15px;
		}

        &__position {
            display: block;
            @include size-weight($H6FontSize, 400);
            line-height: 20px;
            color: $secondaryWhite;
		}
}

.slider {

  &__navigation {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  &__navigation-item {
    position: relative;
    padding-right: 12px;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background-color: $primaryLight;
    }
  }
}

.active-slider-navigation {
    &::after{
        background-color: $primaryDark;
    }
}

.active{
    color: $secondaryBlack;
    background-color: $secondaryWhite;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.active-line{
    background-color: $secondaryBlack;
}

.active-text{
    color: $secondaryBlack;
}
