@use '../base/variables' as *; // Import global variables
@use '../base/mixin' as *;     // Import reusable mixins
@use 'sass:map';               // Import map utilities for breakpoints

// =========================================================
// SECTION: Use
// Description: Main styling for the "Use" section
// =========================================================
.use {
  background-color: $primaryDark;

  &__container {
    color: $secondaryWhite;
  }


  &__info {
    margin-right: 100px;
  }


  &__title {
    width: 528px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 35%;
      width: 100%;
      height: 100%;
      background: url('../assets/img/bg-line/bg-line-md.png') no-repeat;
      background-position: 20% 105%;
      z-index: -1;
    }
  }

  &__image {
    @include image-block-parameters(686px, 479px);
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@media (max-width: map.get($breakpoints, xl)) {
  .use {
    &__title {
      &::after {
        background-position: 19% 105%;
      }
    }

    &__image {
      @include image-block-parameters(686px, 479px);
    }
  }
}

// ---------- LG (≤ 1152px) ----------
@media (max-width: map.get($breakpoints, lg)) {
  .use {
    &__image {
      @include shink-grow-height(0 0 459px, 320px);
    }

    &__title {
      width: 300px;

      &::after {
        left: 0%;
      }
    }
  }
}

// ---------- PLUS-MD (≤ 992px) ----------
@media (max-width: map.get($breakpoints, plus-md)) {
  .use {
    &__title {
      width: 100%;

      &::after {
        width: 50%;
        left: 45%;
      }
    }

    &__image {
      @include image-block-parameters(600px, 500px);
      flex: none;
    }

    &__info {
      margin: 0 auto;
    }
  }
}

// ---------- MD (≤ 768px) ----------
@media (max-width: map.get($breakpoints, md)) {
  .use {
    &__title {
      &::after {
        left: 45%;
        background-size: 80%;
      }
    }

    &__image {
      @include image-block-parameters(557px, 388px);
      margin: 0 auto;
    }

    &__info {
      margin: 0 auto;
    }

    &__container {
      text-align: center;
      gap: 100px;
    }
  }
}

// ---------- SM (≤ 320px) ----------
@media (max-width: map.get($breakpoints, sm)) {
  .use {
    &__title {
      &::after {
        background-size: 100%;
      }
    }

    &__image {
      @include image-block-parameters(288px, 204px);
    }
  }
}
