@use '../base/variables' as *;
@use '../base/mixin' as *;

.use {
    background-color: $primaryDark;

    &__container{
        color: $secondaryWhite;
    }

    &__image{
        width: 686px;
        height: 479px;
    }
}
