@use '../base/variables' as *;
@use '../base/mixin' as *;

.work{
  padding: 140px 0;


  &__container{
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  &__image{
    width: 748px;
    height: 547px;
  }
  
  &__image-together{
    width: 710px;
    height: 661px;
  }
}
