@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use 'sass:map';               // Import Sass map utilities

// =========================================================
// SECTION: Work-mangement
// Description: Styles for work-mangement cards and layout
// =========================================================
.work-management{

  &__container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    @include bg-element(10%, -20%, 100%, url('../assets/img/work/bg-work/bg-work.png') no-repeat, 30%);
  }

  &__block{
    flex-direction: row-reverse;
  }

  &__info{
  }

  &__title-project{
      position: relative;

      &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        background: url('../assets/img/bg-line/bg-line-main.png') no-repeat;
        background-position: 0% 105%;//
        z-index: -1;
      }

  }

  &__title-together{
    width: 600px;
      position: relative;

      &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../assets/img/bg-line/bg-line-md.png') no-repeat;
        background-position: 50% 105%;
        z-index: -1;
      }
  }

  &__image{
    @include image-block-parameters(748px, 547px);
  }
  
  &__image-together{
    @include image-block-parameters(710px, 661px);
    margin-right: 80px;
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@include media (xl) {
  .work-management{
    &__container{
      @include bg-element(-10%, -20%, 100%, url('../assets/img/work/bg-work/bg-work.png') no-repeat, 40%);
    }
    
    &__image{
      @include image-block-parameters(719px, 448px);
    }

    &__image-together{
      @include image-block-parameters(583px, 542px);
    }
  }
}

// ---------- LG (≤ 1152px) ----------
@include media (lg) {
  .work-management {

    &__title-together{
      width: 305px;

      &::after{
        right: 0%;
      }
    }

    &__image{
      @include shink-grow-height(0 0 527px, 328px);
    }

    &__image-together{
      @include shink-grow-height(0 0 528px, 491px);
    }

  }
}

// ---------- PLUS-MD (≤ 992px) ----------
@include media (plus-md) {
  .work-management{
    &__container{
      @include bg-element(-5%, -20%, 100%, url('../assets/img/work/bg-work/bg-work.png') no-repeat, 40%);
    }

    &__block{
      flex-direction: column;
    }

    &__title-project{

      &::after{
        background-position: 60% 105%;
      }
    }

    &__title-together{
            width: 100%;
      &::after{
        width: 50%;
        left: 40%;
      }
    }

    &__image{
      @include image-block-parameters(600px, 500px);
      flex: none;
    }

    &__image-together{
      @include image-block-parameters(600px, 500px);
      flex: none;
      margin: 0 auto;
    }

    &__info{
      margin: 0 auto;
    }
  }
}

// ---------- MD (≤ 768px) ----------
@include media (md)
 {
  .work-management{
    &__container{
      @include bg-element(
        -7%, 
        -20%,
        100%, 
        url('../assets/img/work/bg-work/bg-work.png') no-repeat,
        40%
      );
    }

    &__title-project{

      &::after{
        background: url('../assets/img/bg-line/bg-line-md.png') no-repeat;
        background-position: 50% 105%;
      }
    }

    &__title-together{
      
      &::after{
        top: 30px;
        left: 43%;
        background: url('../assets/img/bg-line/bg-line-mobile.png') no-repeat;
      }
    }

    &__image{
      @include image-block-parameters(561px, 349px);
    }

    &__image-together{
      @include image-block-parameters(457px, 422px);
    }
  }  
}

// ---------- SM (≤ 320px) ----------
@include media (sm) {

  .work-management{

    &__title-project{

      &::after{
        top: 25px;//
        background: url('../assets/img/bg-line/bg-line-mobile.png') no-repeat;//
        background-position: 90% 105%;//
      }
    }

    &__title-together{
            position: relative;

      &::after{
        position: absolute;
        content: "";
        top: 25px;
        right: 5%;//
        width: 50%;
        background-size: 100%;

      }
    }

    &__image{
      @include image-block-parameters(286px, 177px);
    }

    &__image-together{
      @include image-block-parameters(259px, 259px);
    }

    &__info{
      display: block;
    }
      
    &__container{
      @include bg-element(-5%, -20%, 100%, url('../assets/img/work/bg-work/bg-work.png') no-repeat, 40%);
    } 
  }  
}