@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use 'sass:map';               // Import Sass map utilities


// =========================================================
// SECTION: Your-data
// Description: Styles for your-data cards and layout
// =========================================================
.your-data {
  &__container {
  }

  &__column-reverse {
  }

  &__title {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../assets/img/bg-line/bg-line-md.png') no-repeat;
      background-position: 40% 105%;
      background-size: 40%;
      z-index: -1;
    }
  }

  &__image {
    @include image-block-parameters(681px, 381px);
    background-color: $secondaryWhite;
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@include media (lg) {}

// ---------- LG (≤ 1152px) ----------
@include media (lg) {
  .your-data {
    &__title {
      &::after {
        background-position: 90% 105%;
        background-size: 60%;
      }
    }

    &__image {
      flex: 0 0 562px;
      height: 314px;
    }
  }
}

// ---------- PLUS-MD (≤ 992px) ----------
@include media (plus-md) {
  .your-data {
    &__title {
      &::after {
        background-position: 100% 105%;
        background-size: 60%;
      }
    }

    &__image {
      @include image-block-parameters(600px, 350px);
      flex: none;
    }
  }
}

// ---------- MD (≤ 768px) ----------
@include media (md)
 {
  .your-data {
    &__column-reverse {
      flex-direction: column-reverse;
    }

    &__title {
      &::after {
        background-position: 70% 105%;
        background-size: 40%;
      }
    }

    &__image {
      @include image-block-parameters(513px, 287px);
      flex: auto;
    }
  }
}

// ---------- CUSTOM-SM (≤ 567px) ----------
@media (max-width: map.get($breakpoints, custom-sm)) {
  .your-data {
    &__title {
      &::after {
        background-position: 80% 105%;
        background-size: 45%;
      }
    }

    &__image {
      @include image-block-parameters(430px, 200px);
    }
  }
}

// ---------- SM (≤ 320px) ----------
@include media (sm) {

  .your-data {
    &__title {
      &::after {
        background-position: 90% 105%;
        background-size: 55%;
      }
    }

    &__image {
      @include image-block-parameters(290px, 161px);
    }
  }
}
