@use '../base/variables' as *; // Import variables
@use '../base/mixin' as *;     // Import mixins
@use 'sass:map';               // Import Sass map utilities

// =========================================================
// SECTION: Your-work
// Description: Styles for your-work cards and layout
// =========================================================
.your-work {
  background-color: $primaryDark;
    @include bg-element(
      -10%, 
      0,
      400px,
      url('../assets/img/your-work/bg-your-work/bg-your-work.png') center / contain no-repeat,
      100%
    );

  &__container {
    display: block;
    place-items: center;
  }

  &__body {
    text-align: center;
    width: 1064px;
  }

  &__title {
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../assets/img/bg-line/blue-bg-line.png') no-repeat;
      background-position: 100% 105%;
      z-index: -1;
    }
  }

  &__button {
    margin: 0 auto;
  }
}

// =========================================================
// MEDIA QUERIES
// =========================================================

// ---------- XL (≤ 1400px) ----------
@include media (xl) {
  .your-work {
    @include bg-element(
      -10%, 
      -5%,
      400px,
      url('../assets/img/your-work/bg-your-work/bg-your-work.png') center / cover no-repeat,
      90%
    );
  }
}

// ---------- LG (≤ 1152px) ----------
@include media (lg) {
  .your-work {
    @include bg-element(
      -30%, 
      -15%,
      400px,
      url('../assets/img/your-work/bg-your-work/bg-your-work.png') center / cover no-repeat,
      70%
    );

    &__container {
      place-items: start;
    }

    &__body {
      max-width: 650px;
      text-align: left;
    }

    &__button {
      margin: 0;
    }
  }
}

// ---------- MD (≤ 768px) ----------
@include media (md)
 {
  .your-work {
    @include bg-element(
      -35%, 
      -15%,
      300px,
      url('../assets/img/your-work/bg-your-work/bg-your-work.png') center / cover no-repeat,
      70%
    );

    &__body {
      width: 100%;
      text-align: left;
    }

    &__title {
      &::after {
        background-position: 100% 60%;
      }
    }
  }
}

// ---------- SM (≤ 320px) ----------
@include media (sm) {

  .your-work {
    @include bg-element(
      -35%, 
      -40%,
      400px,
      url('../assets/img/your-work/bg-your-work/bg-your-work.png') center / cover no-repeat,
      60%
    );

    &__body {
      width: 100%;
      text-align: left;
    }

    &__title {
      &::after {
        background-position: 100% 60%;
      }
    }
  }
}
